@font-face {
  font-family: 'Inter';
  src: url(./assets/fonts/Inter-Regular.woff2) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Bold.woff2') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Inter', sans-serif;
}

body, html, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  scrollbar-width: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

