@font-face {
  font-family: 'Inter';
  src: url(./assets/fonts/Inter-Regular.woff2) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Bold.woff2') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Inter', sans-serif;
}

:root {
  --bg-start: #110003;
  --bg-end: #0b1330;
  --primary: #0f1630;
  --accent: #e50914;
  --card-bg: #0f1726;
  --muted: #cfcfcf;
  --text: #e9eef8;
}

body,
html,
#root {
  margin: 0;
  margin-top: 25px;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  scrollbar-width: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #0d26a3;
  background: linear-gradient(83deg, var(--bg-start), var(--bg-end), var(--bg-start));
  color: var(--text);
  background-attachment: fixed;
}
