@font-face {
  font-family: 'Inter';
  src: url(./assets/fonts/Inter-Regular.woff2) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Bold.woff2') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
}