.admin-main-wrapper {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 160px);
    padding: 56px;
    gap: 24px;
}

.admin-main-wrapper-row {
    display: flex;
    gap: 24px;
}

.admin-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}
