.admin-search-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 24px;
    width: 100%;
}

.admin-search-input {
    width: 389px;
    height: 40px;
    padding: 8px 24px;
    border: 1px solid #b3b3b3;
    border-radius: 16px;
    outline: none;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}
