.footer {
    width: 100%;
    background-color: #f7f7f7;
    padding: 52px 160px;
    margin-top: 20px;
}

.footer-container {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: #333333;
}
.footer-column {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer-info {
    margin: 5px 0;
}

.footer-column h3 {
    font-weight: 700;
    font-size: 20px;
}

.social-icons {
    display: flex;
    gap: 8px;
}

.social-icons .icon {
    font-size: 36px;
    cursor: pointer;
    color: #333333;
    transition: 0.3s;
}

.social-icons .icon:hover {
    color: #000000;
}