.time-badge {
    width: 74px;
    height: 40px;
    padding: 8px 12px;
    background-color: #dedede;
    border: 1px solid #aaaaaa;
    font-size: 24px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
}

.time-badge:hover {
    background-color: #ffffff;
    transform: scale(1.05);
}