.time-badge {
    width: 74px;
    height: 40px;
    background-color: #dedede;
    border: 1px solid #aaaaaa;
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}

.time-badge:hover:not(:disabled) {
    background-color: #ffffff;
    transform: scale(1.05);
}

.time-badge.past {
    background-color: #e0e0e0;
    color: #b0b0b0;
    border-color: #cccccc;
    cursor: not-allowed;
    opacity: 0.7;
}

.time-badge:disabled {
    transform: none;
}