/* SessionManager.css */

.sessions-section {
    display: flex;
    flex-direction: column;
    gap: 24px;
    background: #f1f1f1;
    border: 2px solid #9a9a9a;
    border-radius: 8px;
    padding: 32px;
}

.session-card {
    background: #fff;
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    padding: 24px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.session-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.session-header h4 {
    margin: 0;
    color: #333;
    font-size: 18px;
    font-weight: 700;
}

.session-dates {
    display: grid;
    grid-template-columns: 1fr 1fr 120px;
    gap: 20px;
    margin-bottom: 24px;
}

.hall-selector {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
}

/* Сітка місць */
.seats-grid {
    display: grid;
    
    justify-content: center; 
    align-content: center;
    
    width: 100%;
    
    gap: 6px;
    margin: 20px auto;
    padding: 20px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow-x: auto;
}

.seat-placeholder {
    width: 24px;
    height: 24px;
    background: #d1d1d1; /* Дефолтний сірий */
    border-radius: 3px;
    transition: background 0.2s;
}

/* Кольори для різних типів місць */
.seat-placeholder.average { background: #b3b3b3; }
.seat-placeholder.first-rows { background: #5da9e9; } /* Блакитний для перших рядів */
.seat-placeholder.vip { background: #f4c542; }      /* Золотий для VIP */
.seat-placeholder.comfort {background: #1ec146;}   /*Комфорт */

/* Ticket Prices */
.ticket-prices {
    background: #fafafa;
    padding: 16px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.prices-row {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5fr;
    gap: 25px;
    align-items: flex-end;
}

.checkbox-group {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #fff;
    padding: 8px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}

.checkbox-group label {
    font-size: 14px;
    white-space: nowrap;
}

/* Кнопки */
.save-session-btn {
    width: 100%;
    padding: 12px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    cursor: pointer;
    transition: background 0.2s;
}

.save-session-btn:hover {
    background: #555;
}

.add-session-btn {
    width: 100%;
    padding: 20px;
    background: transparent;
    border: 2px dashed #9a9a9a;
    color: #9a9a9a;
    font-size: 32px;
    border-radius: 8px;
    cursor: pointer;
}

.add-session-btn:hover {
    background: #f9f9f9;
    color: #333;
    border-color: #333;
}